name: build

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-java@v4
        with:
          java-version: "8"
          distribution: "temurin"
          cache: "maven"
      - name: install IGinX
        working-directory: iginx
        run: |
          mvn install --batch-mode -P !format -DskipTests=true
      - name: package Zeppelin interpreter
        run: |
          mvn package --batch-mode -DskipTests=true
      - name: upload Zeppelin interpreter
        uses: actions/upload-artifact@v4
        with:
          name: zeppelin-iginx
          path: "**/*-shaded.jar"
          if-no-files-found: error
