name: check

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - auto_merge_enabled

jobs:
  build:
    uses: ./.github/workflows/build.yml

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-java@v4
        with:
          java-version: "8"
          distribution: "temurin"
          cache: "maven"
      - run: mvn fmt:check

  title:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  submodule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: rematocorp/submodule-status-commenter@v2.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}