name: release

on:
  release:
    types:
      - published
  pull_request:
    types:
      - closed

jobs:
  create-release:
    if: github.event.pull_request.merged == true
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "8"
          distribution: "temurin"
          cache: "maven"
      - name: get project info
        id: project
        uses: ./.github/actions/project
      - uses: actions/download-artifact@v4
        with:
          name: zeppelin-iginx
      - uses: ncipollo/release-action@v1
        with:
          name: Zeppelin interpreter for IGinX ${{ steps.project.outputs.version }}
          tag: v${{ github.run_id }}
          prerelease: ${{ endsWith(steps.project.outputs.version, 'SNAPSHOT') }}
          allowUpdates: true
          generateReleaseNotes: true

  build:
    if: github.event.pull_request.merged == true || github.event_name == 'release'
    uses: ./.github/workflows/build.yml

  upload-artifact:
    if: github.event.pull_request.merged == true || github.event_name == 'release'
    permissions:
      contents: write
    needs:
      - build
      - create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: zeppelin-iginx
      - uses: svenstaro/upload-release-action@v2
        with:
          file: "*.jar"
          file_glob: true
          overwrite: true